@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    font-family: Pretendard !important;
}

.outsection{
    padding-top: 60px;
    height: 65%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}

.inform{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.postimg{
    width: 90%;
}

.userbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
}

.userbox a:link{
    color: #868E96;
}

.userbox a:visited{
    color: #868E96;
}

.head-wrapper{
    padding-top: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 40px;
}

.userbox a + a {
    margin-left: 0.5rem;
}

.downbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #868E96;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}


.postsection{
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.12rem;
    line-height: 1.7;
}

.postsection a{
    width: 100%;
}

.postsection a:link{
    text-decoration: none;
    color: black;
}

.postsection a:visited{
    text-decoration: none;
    color: black;
}

.downbox .chumboo{
    font-weight: 700;
}

.postimg{
    display: block;
    margin: 3rem auto;
}

.seperate{
    padding-left: 1rem;
    padding-right: 1rem;
}

.line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #E9ECEF;
    width: 100%;
    height: 1px;
}

.commentsection{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 30px;
}

.commentsection label{
    display: none;
}

form:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form:nth-of-type(1) div textarea{
    align-self: center;
    margin-bottom: 10px;
    width: 100%;
    resize: none;
    font-size: 1em;
    height: 70px;
    font-family: Pretendard;
    padding: 1rem 1rem 1.5rem;
    border: 1px solid #F1F3F5;
}
form:nth-of-type(1) div button{
    align-self: flex-end;
    width: 30%;
    border: none;
    background-color: black;
    padding: 2px 1em;
    color: #FF9E1A;
    border-radius: 3px;
    height: 2rem;
    font-size: 1rem;
    font-family: Pretendard;
    font-weight: bold;
}

h4{
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
}

.nocomment{
    width: 90%;
    border: 1px solid #F1F3F5;
    align-self: center;
    margin-bottom: 15px;
    font-size: 1em;
    height: 70px;
    font-family: Pretendard;
    padding: 1rem 1rem 1.5rem;
}


.commentsection a:link {
    text-decoration: none;
    color: #797979;
}

.commentsection a:visited {
    text-decoration: none;
    color: #797979;
}

.comusername{
    font-family: Pretendard;
    font-weight: 600;
    font-size: 1rem;
}
.comdate{
    color: #989898;
    font-family: Pretendard;
    font-weight: 300;
    font-size: 13px;
}

.namedate{
    display: flex;
    flex-direction: column;
}

.rede{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
}

.userinfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rede a + a {
    margin-left: 0.5rem;
}

.resection{
    display: none;
}

.sawing{
    display: contents;
}
.commentbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.recomsection button{
    display: flex;
    flex-direction: row;
    background:none;
    border: none;
    justify-content: center;
    align-items: center;
}

.writer{
    font-weight: 700;
    margin-right: 10px;
}

.rebox{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.02);
    background-color: rgba(0, 0, 0, 0.016);
    border-radius: 4px;
    margin-top: 1.3125rem;
}

.rebox form{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.submitbtn{
    align-self: flex-end;
    width: 30%;
    border: none;
    background-color: black;
    padding: 2px 1em;
    color: #FF9E1A;
    border-radius: 3px;
    height: 2rem;
    font-size: 1rem;
    font-family: Pretendard;
    font-weight: bold;
}

.rebox form input:nth-of-type(2){
    align-self: center;
    margin-bottom: 10px;
    width: 100%;
    resize: none;
    font-size: 1em;
    height: 70px;
    font-family: Pretendard;
    padding: 1rem 1rem 1.5rem;
    border: 1px solid #F1F3F5;
}

.recomexistbox{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.02);
    background-color: rgba(0, 0, 0, 0.016);
    border-radius: 4px;
    margin-top: 1.3125rem;
}

.recomuser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}
.reoutbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.recomname{
    font-size: 1rem;
    font-family: Pretendard;
    font-weight: bold;
}

.deletebtn{
    font-size: 0.8em;
}