@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (max-width: 388px){
  /* 480보다 클경우 - 모바일 */
  
}

@media (min-width:768px){
    .topsection{
        width: 412px !important;
    }
    body{
      width: 412px;
    }
}

body{
    margin: 0 !important;
    font-family: Pretendard !important;

}
.btn_contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newbtn {
  width: 118px;
  height: 56px;
  border-radius: 50px;
  background-color: black;
  text-decoration: none;
  margin: 0px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  position: fixed;
  top: 85%;
  font-weight: 700;
}

.newbtn a:link{
    color: white;
}
.newbtn a:visited{
    color: white;
}

#talk > a:link, #issue > a:link, #project > a:link , #connent > a:link{
    color: black !important;
}
#talk > a:hover, #issue > a:hover, #project > a:hover, #connent > a:hover{
    color: black !important;
}
#talk > a:visited, #issue > a:visited, #project > a:visited, #connent > a:visited{
    color: black !important;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    overflow-x: scroll;
    overflow-y: hidden;
}

.postsection{
  width: 100%;
  overflow-y: scroll;
  padding-top: 120;
  overflow-x: hidden;
}

.maintitle{
    font-family: Pretendard !important;
    font-size: 30px;
    font-weight: 800;
}
  .link{
    text-decoration: none;
    border-radius: 5px;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 16px 0px;
    margin: 10px 25px 30px 25px;
  }
  .LinkComponent1{
    width:100%;
    background-color: #FFFFFF;
    border-radius:5px;
  }
  .LinkComponent2{
    /* width:344px; */
    width:100%;
    /* height:323px; */
    /* margin-left:34px; */
    /* margin-right:34px; */
    margin-bottom:60px;
    background-color: #FFFFFF;
    border-radius:5px;
  }

  .representativeImg{
    width:100%;
    height: 20%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    object-fit: cover;
  }
  .representativeTitle1{
    font-family:Pretendard;
    font-size:16px;
    color:#848484;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }
  .commit_detail{
    display: -webkit-box;
    -webkit-line-clamp: 3;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0E1013;
  }
  .commit{
    font-family:Pretendard;
    font-size:20px;
    color:#0E1013;
    margin-top:1px;
    font-weight: 700;
  }

  .section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .outsection{
    padding-top: 60px;
    height: 100%;
  }

  button{
    border: none;
    background-color: white;
  }

  /* 인디케이터 */
  .category p {
    display: block;
    padding: .75em 0;
    color: #AEAEAE;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 0px 3% 10px 3%;
  }
  .nav-underline {
    position: absolute;
    left: 3%;
    bottom: -2px;
    width: 15%;
    height: 3px;
    background: black;
    transition: all .3s ease-in-out;
  }
  .category p:nth-child(1).is-current ~ .nav-underline {
    left: 3%;
  }
  .category p:nth-child(2).is-current ~ .nav-underline {
    left: 20%;
  }
  .category p:nth-child(3).is-current ~ .nav-underline {
    left: 40%;
  }
  .category p:nth-child(4).is-current ~ .nav-underline {
    left: 60%;
  }
  .category p:nth-child(1):hover ~ .nav-underline {
    left: 0;
  }
  .category p:nth-child(2):hover ~ .nav-underline {
    left: 20%;
  }
  .category p:nth-child(3):hover ~ .nav-underline {
    left: 40%;
  }
  .category p:nth-child(4):hover ~ .nav-underline {
    left: 60%;
  }
  
  /* 모달창 */
.modal{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 700;
  top: 0px;
  display: none;
}
.modal_box{
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_content{
  width:90%; height:200px;
  background:#fff; border-radius:10px;
  position:relative; 
  text-align:center;
  box-sizing:border-box; padding:40px 0;
  line-height:23px; cursor:pointer;
  margin: 0px;
}
.searchtitle{
  font-family: Pretendard !important;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}
#search{
  width: 70%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #CCC;
    font-size: 18px;
}
.inputout input:focus {outline:none;
}

#submitbtn{
  background:url(../img/searchicon.png);
  background-repeat: no-repeat;   
  height: 30px;
  width: 30px;
  border: none;
  margin-left: 20px;
}
.inputout > form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.topsection{
  position: fixed;
  z-index: 600;
  background: white;
  width: 100%;
}