@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200&display=swap');

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (max-width: 388px){
  /* 480보다 클경우 - 모바일 */
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    background-color: black;
    font-family: Pretendard !important;
}

.mytitle{
    color: white;
    font-family: 'DungGeunMo';
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 40px;
}



.myrank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    font-family: 'DungGeunMo';
    
}
.myrankout{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankbox{
    position: relative;
    z-index: 300;
    width: 300px;
}
.mybox{
    position: absolute;
    z-index: 500;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username{
    font-family: 'DungGeunMo';
    color: #FF9E1A;
    font-weight: 700;
    font-size: 1rem;
}

@keyframes cursor{
    50%{ border-color: transparent; }
  }
   
.mycommit{
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    height: 32px;
    border-right: .05em solid black;
    animation: cursor 0.5s ease infinite;
}

  
  .backlion{
    width: 100%;
  }

  .top10{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'DungGeunMo';
    width: 80%;
  }

  
.ranktitle{
    color: white;
    /* font-family: 'Lexend Zetta', sans-serif; */
    font-family: 'DungGeunMo';
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 40px;
}

.rankingbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    /* border: 1px solid #FF9E1A; */
    background-size: cover;
    width: 100%;
    height: 121px;
    background-image: url("../img/rankbox.png");
}
.topten{
    color: #FF9E1A;
    font-weight: bolder;
    
}

.rankingbox .mycommit{
    font-size: 35px;
    margin-bottom: 5px;
}

.rankingbox .mygitname{
    font-size: 20px;
}

.rankingbox .myname{
    font-size: 27px;
    margin-bottom: 5px;
    color: #FF9E1A;
    margin-top: 5px;
}

.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    border: 3px dashed white;
    margin-bottom: 25px;
    padding: 1rem;

}

.subtitle2{
    color: #FF9E1A;
    font-size: 37px;
}


.backlion1{
    width: 30%;
    align-self: flex-end;
}

.backlion2{
    width: 40%;
    align-self: center;
    width: 100%;
}


.maintitle{
    display: flex;
    flex-direction: column;
    font-family: 'DungGeunMo';
    justify-content: center;
    align-items: center;
    color: white;
}

.subtitle1{
    font-size: 25px;
    margin-bottom: 10px;
}
.subtitle3{
    font-size: 20px;
}