@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200&display=swap');

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (max-width: 388px){
  /* 480보다 클경우 - 모바일 */
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    background-color: black;
    font-family: Pretendard !important;
}

.mytitle{
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
    position: absolute;
    top: 500px;
}

.myrank{
    top:570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 200;
    
}
.myrankout{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rankbox{
    position: relative;
    z-index: 300;
    
}
.mybox{
    z-index: 500;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username{
    font-family: Pretendard !important;
    color: #FF9E1A;
    font-weight: 700;
    font-size: 1rem;
}

@keyframes cursor{
    50%{ border-color: transparent; }
  }
   
.mycommit{
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    height: 32px;
    border-right: .05em solid black;
    animation: cursor 0.5s ease infinite;
  }

  .backline{
    position: relative;
    z-index: 0;
  }

  
  .backlion{
    position: absolute;
    top: 100px;
    width: 100%;
  }

  .top10{
    color: white;
    position: absolute;
    top: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.ranktitle{
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
    position: absolute;
    top: 800px;
}

.rankingbox{
    position: absolute;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}