@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    background-color: white;
    font-family: Pretendard !important;
}

.outsection{
    padding-top: 60px;
    height: 65%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
}
.maintitle{
    font-family: Pretendard !important;
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form button{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 40px;
    font-family: Pretendard !important;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF9E1A;
}

form input{
    font-size: 30px;
    width: 80%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1.5px solid #CCC;
    outline: none;
}

form input::placeholder{
    font-size: 18px;
    font-family: Pretendard !important;
    font-weight: 800;
    color: #CCC;
}

form input:focus{
    border-bottom: 2px solid black;
    color: black;
    font-family: Pretendard !important;
}

form label{
    display: none;
}