@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

body{
    margin: 0 !important;
    font-family: Pretendard !important;

}

@media (min-width:768px){
    body{
        width: 412px;
    }
}