@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (max-width: 388px){
  /* 480보다 클경우 - 모바일 */
  .representativeTitle1{
    font-size:12px !important;
  }
  .commit{
    font-size:15px !important;
  }
  .now{
    font-size: 1.2em !important;
  }

  .username2{
      font-size: 1.2em !important;
  }

  .username1{
      font-size: 1.2em !important;
  }
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    font-family: Pretendard !important;

}

.now{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 20px;
}

.username2{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.username1{
    font-weight: 700;
    font-size: 1.5em;
}

/* 배너 스와이프 */
.swiper {
    width: 100%;
    height: 500px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
  }
  /* 배너 스와이프 끝*/

  /* card start */
  .MidSection{
    padding-bottom: 1px;
    padding-top:1px;
    margin-left:34px;
    margin-right:34px;
    display:flex;
    flex-direction: column;
    align-items:center
  }
  .link{
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .LinkComponent1{
    /* width:344px; */
    width:100%;
    /* height:323px; */
    /* margin-left:34px; */
    /* margin-right:34px; */
    margin-bottom:30px;
    background-color: #FFFFFF;
    border-radius:5px;
  }
  .LinkComponent2{
    /* width:344px; */
    width:100%;
    /* height:323px; */
    /* margin-left:34px; */
    /* margin-right:34px; */
    margin-bottom:60px;
    background-color: #FFFFFF;
    border-radius:5px;
  }

  .representativeImg{
    width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }
  .representativeTitle1{
    font-family:Pretendard;
    font-size:16px;
    color:#848484;
    display:flex;
    flex-direction: column;
    margin-top:14.86px;
    margin-left:15px;
    justify-content: center;
    align-items: flex-start;
  }
  .commit_detail{
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .commit{
    font-family:Pretendard;
    font-size:20px;
    color:#0E1013;
    margin-top:1px;
    font-weight: 700;
  }
  .outsection{
    padding-top: 60px;
  }
  /* card end */