@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");

@media (max-width:257px){
    body{
        display: none;
    }
}

@media (min-width:768px){
    body{
        width: 412px;
    }
}

body{
    margin: 0 !important;
    background-color: white;
    font-family: Pretendard !important;
}

.outsection{
    padding-top: 60px;
    height: 100%;
    /* overflow-y: scroll;
    overflow-x: hidden; */
    padding-left: 1rem;
    padding-right: 1rem;
}
.UserName{
    font-family: Pretendard !important;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logout button{
    margin: 10px 0px;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    font-family: Pretendard !important;
    font-size: 20px;
    font-weight: 600;
    color: #FF9E1A;
    background-color: black;
}


.extrasection{
    padding-left: 1rem;
    padding-right: 1rem;
}

.readmesection{
    width: 100%;
}
.readmesection{
    width: 100%;
    overflow: scroll;
}

.readmesection p:nth-of-type(8) img{
    width: 100%;
}

.profileimg{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 4px 0px;
    margin-right: 10px;
}

.mypagetitle{
    font-size: 30px;
    font-weight: 700;
    height: 40px;
    padding: 15px;
}

.userprofilebox{
    border:1px solid #C7C7C7;
    border-radius: 5px;
    padding: 1rem;
}
.firstsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reamebox{
    padding: 1rem;
    border-radius: 5px;
    background-color: whitesmoke;
}

.subsection{
    display: flex;
    flex-direction: column;
}

.userout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.logutbtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logutbtn a{
    width: 100%;
}

.detail{
    font-family: Pretendard !important;
    font-weight: 200;
    color: #8c8888;
    font-size: 0.9rem;
}

.reamebox form label{
    margin-right: 10px;
    font-weight: bold;
}

.IDbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

.reamebox form input:nth-of-type(1){
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid;
}

.gitbtn{
    border-radius: 5px;
    margin-left: 5px;
    background-color: #FF9E1A;
    font-weight: 700;
}