<head>
    {% load static %}
    <link rel="stylesheet" href={% static './css/board.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    {% include 'nav.html' %}
    <div class="outsection">
      <div class="topsection">
        <div class="section1">
            <div class="maintitle">커뮤니티</div>
            <button class="searchicon">
                <img class="icon" src={% static './img/searchicon.png' %}/>
            </button>
        </div>
        <div class="category">
          <p id="T" onclick="option(event)">TALK</p>
          <p id="I" onclick="option(event)">ISSUE</p>
          <p id="P" onclick="option(event)">PROJECT</p>
          <p id="C" onclick="option(event)">CONNECT</p>
          <div class="nav-underline"></div>
        </div>
      </div>
      {% csrf_token %}
      
      <div class="modal">
        <div class="modal_box">
          <div class="modal_content">
            <div class="searchtitle">검색</div>
            <div class="inputout">
              <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <input id="search" name="search" value="{{q}}" placeholder="검색어를 입력하세요."/>
                <input id="submitbtn" type="submit" value=""/>
              </form>
            </div>
          </div>
        </div>  
      </div>
      <script src={% static './js/modal.js' %}></script>
      <div class="postsection">
        <div id="talk" style="display: block">
          {% for c in comm %} {% if c.tag == "talk" %}
          <a href="{% url 'board_detail' pk=c.pk %}">
            <div data-aos="fade-up" class="LinkComponent1">
              <div class="link">
                <img class="representativeImg" src={% static './img/commit.png' %}/>
                <div class="representativeTitle1">
                  <div class="commit">{{ c.title }}</div>
                  <div class="commit_detail">{{ c.content }}</div>
                </div>
              </div>
            </div>
          </a> 
          {% endif %} {% endfor %}
        </div>
        
        <div id="issue" style="display: none">
          {% for c in comm %} {% if c.tag == "issue" %}
          <a href="{% url 'board_detail' pk=c.pk %}">
            <div data-aos="fade-up" class="LinkComponent1">
              <div class="link">
                  <img class="representativeImg" src={% static './img/commit.png' %}/>
                  <div class="representativeTitle1">
                    <div class="commit">{{ c.title }}</div>
                    <div class="commit_detail">{{ c.content }}</div>
                  </div>
              </div>
            </div>
          </a>
          {% endif %} {% endfor %}
        </div>
        
        <div id="project" style="display: none">
          {% for c in comm %} {% if c.tag == "project" %}
          <a href="{% url 'board_detail' pk=c.pk %}">
            <div data-aos="fade-up" class="LinkComponent1">
              <div class="link">
                  <img class="representativeImg" src={% static './img/commit.png' %}/>
                  <div class="representativeTitle1">
                    <div class="commit">{{ c.title }}</div>
                    <div class="commit_detail">{{ c.content }}</div>
                  </div>
              </div>
            </div>
          </a>
          {% endif %} {% endfor %}
        </div>
        
        <div id="connent" style="display: none">
          {% for c in comm %} {% if c.tag == "connent" %}
          <a href="{% url 'board_detail' pk=c.pk %}">
            <div data-aos="fade-up" class="LinkComponent1">
              <div class="link">
                  <img class="representativeImg" src={% static './img/commit.png' %}/>
                  <div class="representativeTitle1">
                    <div class="commit">{{ c.title }}</div>
                    <div class="commit_detail">{{ c.content }}</div>
                  </div>
              </div>
            </div>
          </a>
          {% endif %} {% endfor %}
        </div>
      </div>
  </div>
  <div class="btn_contain">
    <div class="newbtn">
      <a href="{% url 'board_post' %}">+ 글쓰기</a>
    </div>
  </div>
  <script src={% static './js/category.js' %}></script>
      
</body>
  