{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function option(){
            const look = document.getElementById("posting")           
            const look1 = document.getElementById("posting1")
            // if(event.target.id==look){
                look.style.display='block';
                look1.style.display='none';
        // }
        }
    </script>
</head>
<body>
    <p id="T" onclick='option()'>TALK</p>
    <p id="I" onclick='option()'>ISSUE</p>
    <p id="P">PROJECT</p>
    <p id="C">CONNET</p>
    <h4><a href="{% url 'board_post' %}">새글쓰기</a></h4>
    
<div id="posting" style="display: none;">    
    {% for c in comm %}
        {% if c.tag == "talk" %}
        <a href="{% url 'board_detail' pk=c.pk %}">{{ c.title }}</a>
        {% endif %}
    {% endfor %}
</div>

<div id="posting1" style="display: none;">    
    {% for c in comm %}
        {% if c.tag == "issue" %}
        <a href="{% url 'board_detail' pk=c.pk %}">{{ c.title }}</a>
        {% endif %}
    {% endfor %}
</div>
   


</body>
</html>