<html>
{% load static %} 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static './css/b_detail.css' %}>
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="head-wrapper">
            <h1>{{ comm.title }}</h1>
            <div class="userbox">
                <a href="{% url 'board_update' pk=comm.pk %}">수정하기</a>
                <a href="{% url 'board_delete' pk=comm.pk %}">삭제하기</a>
            </div>
            <div class="inform">
                <div class="writer">{{ comm.user.nickname }}</div>
                <div class="date">{{ comm.date }}</div> 
            </div>
        </div>
        <div class="postsection">
            {% if comm.file %}
            <a href="{{comm.file.url }}" download>
                <div class="downbox">
                    <span class="chumboo">첨부파일</span>
                    <!-- <span class="filename">vkdlf.jpeg</span> -->
                    <span class="filename">{{ comm.get_file_name }}</span>
                    <img class="downicon" src={% static './img/download.png' %} />
                </div>
            </a>
            {% endif %} 
            {{ comm.text }}
            {% if comm.img %}
                <img class="postimg" src="{{comm.img.url }}">
            {% endif %}
        </div>

        <div class="seperate">
            <div class="line"></div>
        </div>

        <div class="commentsection">
            <h4>댓글</h4>
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'comment_create' pk=comm.pk %}">
                {% csrf_token %}
                <div>
                    {{ comment_form }}
                    <button type="submit">댓글 작성</button>
                </div>
            </form>
            {% else %}
            <a href="{% url 'login' %}">
                <div class="nocomment">로그인이 필요한 기능입니다</div>
            </a>
            {% endif %}
            
            {% if comm.comment_set.exists %}
                {% for comment in comm.comment_set.iterator %}
                <div id="{{comment.pk}}">
                    <!-- {{ comment.author.username }} -->
                    <div class="commentbox">
                        <div class="userinfo">
                            <div class="namedate">
                                <div class="comusername">
                                    {{ comment.user.nickname }}
                                </div>
                                <div class="comdate">
                                {% if comment.created_at != comment.modified_at %}
                                    (수정됨){{ comment.modified_at }}
                                {% else %}
                                    {{ comment.created_at }} 
                                {% endif %}
                                </div>
                            </div>
                            <div class="rede">
                                <a href="{% url 'comment_update' pk=comment.pk %}">수정</a>
                                <a href="{% url 'comment_delete' pk=comment.pk %}">삭제</a>
                            </div>
                        </div>
                        {{ comment.content }}
                    </div>
                    <!-- comment_update 함수에 댓글 pk전달 -->
                    <div class="recomsection">
                        <div class="recomexistbox">
                            {% for recom in comment.recomment_set.all %}
                                <div class="reoutbox">
                                    <div class="recomuser">
                                        <span class="recomname">🐾{{ recom.user.nickname }}</span>
                                        <a href="{% url 'recomment_delete' rc_pk=recom.pk %}" class="deletebtn">삭제</a>
                                    </div>
                                    <span class="recomcontent">{{recom.content}}</span> {{ created_at }}
                                </div>
                            {% endfor %}
                            <button class="rebtn" onclick="recomment()">
                                <img src={% static './img/down.png' %} /> 
                                <span class="btntext1">
                                    답글 달기
                                </span>
                            </button>
                            <div class="resection">
                                <button class="rebtn" onclick="recomment()">
                                    <img src={% static './img/up.png' %} />
                                    <span class="btntext1">
                                        숨기기
                                    </span>
                                </button>
                                <div class="rebox">
                                    <form method="post" action="{% url 'recomment_create' c_pk=comment.pk %}">
                                        {%csrf_token%}
                                        {{ recomment_form }}
                                    <input type="hidden" name="comment" value={{recomment.id}}>
                                    <input type="submit" value="댓글 등록" class="submitbtn">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button class="rebtn" onclick="recomment()">
                            <img src={% static './img/down.png' %} /> 
                            <span class="btntext1">
                                답글 달기
                            </span>
                        </button>
                        <div class="resection">
                            <button class="rebtn" onclick="recomment()">
                                <img src={% static './img/up.png' %} />
                                <span class="btntext1">
                                    숨기기
                                </span>
                            </button>
                            <div class="rebox">
                                <form method="post" action="{% url 'recomment_create' c_pk=comment.pk %}">
                                    {%csrf_token%}
                                    {{ recomment_form }}
                                <input type="hidden" name="comment" value={{recomment.id}}>
                                <input type="submit" value="댓글 등록" class="submitbtn">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <script src="/static/js/recomment.js"></script>
</body>
</html>