<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <h1>{{ comm.title }}</h1>
    {{ comm.author }}
    {% if comm.img %}
        <img src="{{comm.img.url }}" width="500px">
    {% endif %} 
    {% if comm.file %}
        <a href="{{comm.file.url }}" download>누르면 다운</a>
    {% endif %}
    {{ comm.text }}
    <a href="{% url 'board_update' pk=comm.pk %}">수정하기</a>
    <a href="{% url 'board_delete' pk=comm.pk %}">삭제하기</a>
    <hr>
    <h4>댓글</h4>
    <hr>
    {% if comm.comment_set.exists %}
        {% for comment in comm.comment_set.iterator %}
        <div id="{{comment.pk}}">
            {{ comment.author.username }}
            {{ comment.content }}
            {% if comment.created_at != comment.modified_at %}
                (수정됨){{ comment.modified_at }}
            {% else %}
                {{ comment.created_at }} 
            {% endif %}
            <a href="{% url 'comment_update' pk=comment.pk %}">수정</a>
            <a href="{% url 'comment_delete' pk=comment.pk %}">삭제</a>
            <br>
            <!-- comment_update 함수에 댓글 pk전달 -->
        {% for recom in comment.recomment_set.all %}
            &nbsp;&nbsp;🐾{{ user.username }}:{{recom.content}} {{ created_at }}
            <a href="{% url 'recomment_delete' rc_pk=recom.pk %}">삭제</a><br>
        {% endfor %}
        <form method="post" action="{% url 'recomment_create' c_pk=comment.pk %}">{%csrf_token%}
            {{ recomment_form }}
        <input type="hidden" name="comment" value={{recomment.id}}>
        <input type="submit">
        </form>
        {% endfor %}
    {% endif %}

    </div>
    <hr>
    <form method="POST" action="{% url 'comment_create' pk=comm.pk %}">
        {% csrf_token %}
        <div>
            {{ comment_form }}
            <button type="submit">제출</button>
        </div>
    </form>
</body>
</html>