<head>
    {% load static %} 
    <link rel="stylesheet" href={% static './css/commit.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
  
  <body>
    {% include 'nav.html' %}
    <div class="outsection">
        <div class="box">
            <h4>이번주 작업한 레포는</h4>
            {% for i in name %}
                <b>{{ i }}</b><br>
            {% endfor %}
            <h4>총 커밋수는 {{ repos }}입니다</h4>
        </div>
        <a href="{% url 'commit_rank' %}">다른 사자들의 랭킹 보러가기 -></a>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>