<head>
    {% load static %} 
    <link rel="stylesheet" href={% static './css/commit_rank.css' %}>
    <script src={% static './js/typing.js' %}></script>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
  
  <body>
    {% include 'nav.html' %}
    <div class="myrank">
        <span class="mytitle">MY COMMIT</span>
        <img class="rankbox" src={% static './img/rankbox.png' %}/>
        <div class="mybox">
        {% for c in commit %}
            <span class="myname"><span class="username">{{ c.user.nickname }}</span>님의 이번주 커밋</span>
            {% comment %} {{ c.user }} {% endcomment %}
            <span class="mycommit">{{ c.commit }}</span>
            <span class="mygitname">{{ c.gitName }}</span>
        {% endfor %}
        </div>
    </div>
    <div class="top10">
        {% for c in commit %}
            {{ c.user.nickname }}
            {{ c.user }}
            {{ c.commit }}
            {{ c.gitName }}
        {% endfor %}
    </div>
</body>
</html>