<head>
    {% load static %} 
    <link rel="stylesheet" href={% static './css/commit.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
  
  <body>
    {% include 'nav.html' %}
    <div class="outsection">
        <div class="box">
            <span class="ment1">이번주 작업한 레포는</span>
            {% for i in name %}
            <span class="count1">{{ i }}</span>
            {% endfor %}
            <span class="ment2">총 커밋수는 <span class="count2">{{ repos }}</span>입니다</span>
        </div>
        <a href="{% url 'commit_rank' %}">
            <div class="gobtn">
                다른 사자들의 랭킹 보러가기
            </div>
        </a>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>