<html>
  <head>
    {% load static %} <link rel="stylesheet" href={% static './css/footer.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <div class="outbox">
      <img class="footer_logo" src={% static './img/footer_logo.png' %}/>
      <div class="developbox">
        <div class="develop">
          <span class="part1">디자인 · 프론트엔드</span>
          <span class="name">허 은</span>
        </div>
        <div class="develop">
          <span class="part2">백엔드</span>
          <span class="name">남서현</span>
        </div>
      </div>
      <img class="footer_line" src={% static './img/footer_line.png' %}/>
      <div class="contact">
        <a href="https://www.instagram.com/likelion.univ/">
          <img class="insta" src={% static './img/insta.png' %}/>
        </a>
        <a href="mailto:univ_admin@likelion.net">
          <img class="email" src={% static './img/email.png' %}/>
        </a>
        <a href="https://www.likelion.net/">
          <img class="site" src={% static './img/site.png' %}/>
        </a>
      </div>
      <span class="copyright">Copyrightⓒ 2022 All rights reserved</span>
    </div>
  </body>
</html>
