<html>
  <head>
    {% load static %} <link rel="stylesheet" href={% static './css/main.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
  </head>

  <body>
    {% include 'nav.html' %}
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src={% static './img/banner1.png' %}/>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- Swiper end-->

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>
    <div class="outbox">
      <div class="now">현재 진행중인 이벤트</div>
      <div class="card"></div>
      <div class="now">김멋대님.</div>
      <div class="now">많은 사자들의 작품 보고 가세요!</div>
      <div class="card"></div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
