<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    {{ user.nickname }}님 안녕하세요
    <button type="submit"><a href="{% url 'logout' %}">로그아웃</a></button>
    <div>
      {% if not user.git %}
      <form method="post" action="{% url 'Co' %}">{% csrf_token %} 
        <label for="gitName">gitName</label>    
        <input type="text" name="gitName" placeholder="깃 이름을 입력해주세요">
        <input type="submit">
      </form>
      {% else %}
      {{ user.nickname }}님의 이번주 커밋수는
        {% for c in commit %}
          {% if c.gitName == user.git %}
            {{ c.commit }}
          {% endif %}
        {% endfor %}
      {% endif %}
      </div>
  {% else %}
    방랑자님 안녕하세요
    <button type="submit"><a href="{% url 'login' %}">로그인</a></button>
  {% endif %}  
    
  
</body>
</html>