{% load markdown_deux_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %} 
  <link rel="stylesheet" href={% static './css/mypage.css'%}>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>

<body>
    {% include 'nav.html' %}
    <div class="outsection">
      {% if user.is_authenticated %}
      <div class="UserName">
        {{ user.nickname }}님의 프로필
        <img src="{{ img }}"/>
      </div>
      <div>
        {% if not user.git %}
          <form method="post" action="{% url 'Co' %}">{% csrf_token %} 
            <label for="gitName">gitName</label>    
            <input type="text" name="gitName" placeholder="깃 이름을 입력해주세요">
            <input type="submit">
          </form>
        {% else %}
          {{ user.nickname }}님의 일주일 총 커밋수: 
            {% for c in commit %}
              {% if c.gitName == user.git %}
                {{ c.commit }}
              {% endif %}
            {% endfor %}
            {{ readme|markdown:"STYLE" }} 
        {% endif %}
        </div>
        <div class="extrasection">
          <a href="{% url 'logout' %}" class="logout">
            <button type="submit">
              로그아웃
            </button> 
          </a>
        </div>
          <!-- {{ user }}  -->
    {% else %}
        방랑자님 안녕하세요
        <button type="submit"><a href="{% url 'login' %}">로그인</a></button>
    {% endif %}
  </body>
</html>
