<html>
  <head>
    {% load static %} <link rel="stylesheet" href={% static './css/nav.css' %}>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>

  <body>
    <div class="contain">
      <div class="nav-container">
        <div class="gomain">
          <a href="{% url 'main' %}" class="logo">
            <img src={% static './img/navlogo.png' %} class="logo1">
            <div class="text">LIKELION.UNIV</div>
          </a>
        </div>
        {% comment %} <a class="menu-trigger" href="#" onclick="Openmenu()"> {% endcomment %}
        <a class="menu-trigger" href="#" onclick="Openmenu()">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="{% url 'about' %}">
              <span>ABOUT</span>
            </a>
          </li>
          <li>
            <a href="{% url 'board' %}">
              <span>NOTICE</span>
            </a>
          </li>
          <li>
            <a href="{% url 'board' %}">
              <span>COMMUNITY</span>
            </a>
          </li>
          <li>
            <a href="{% url 'commit_rank' %}">
              <span>RANKING</span>
            </a>
          </li>
          {% comment %} <li>
            <a href="{% url 'mypage' %}">
              <span>MYPAGE</span>
            </a>
          </li> {% endcomment %}
          {% comment %} <li>
            <a href="{% url 'login' %}">
              <span>LOGIN</span>
            </a>
          </li> {% endcomment %}
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'mypage' %}">
                <span>MYPAGE</span>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{% url 'login' %}">
                <span>LOGIN</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <script src="/static/js/menu.js"></script>
  </body>
</html>
