<head>
  {% load static %}
  <link rel="stylesheet" href={% static './css/search.css' %}>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
  {% include 'nav.html' %}
  <div class="outsection">
    <div class="stitle">검색 결과</div>
    <div class="resultsection">
      {% for p in post.all %}
      <a href="{% url 'board_detail' pk=p.pk %}">
        <div class="LinkComponent1">
          <div class="link">
            {% if p.img %}
                <img src="{{p.img.url }}" class="representativeImg">
            {% endif %} 
            <div class="representativeTitle1">
              <div class="commit">{{ p.title }}</div>
              <div class="commit_detail">{{ p.text }}</div>
            </div>
          </div>
        </div>
      </a> 
      {% endfor %}
    </div>
  </div>
</body>    

