<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>로그인</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
            <label for="username">이메일</label>
            <input type="text" name="username" value="{{form.username.value|default_if_none:'' }}" placeholder="@likelion.org계정을 입력해주세요">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="text" name="password" value="{{form.password.value|default_if_none:'' }}" placeholder="영문,숫자,특수문자로 구성된 8-20자 비밀번호">
        </div>
        <button type="submit">생성하기</button>
    </form>
</body>
</html>